{% extends 'base.html' %}

{% block body %}

<div class="dashboard"> 
    
    <div class="d-flex flex-row"> 
        <div class="col-md-3"> 
            <div class="card carddb"> 
                <div class=" image d-flex flex-row align-items-center mt-3"> 
                    
                    <span></span> 
                </div> 
                <hr class="hline"> 
                <div class="d-flex flex-column align-items-center"> 
                    <button class="btn"><i class="fa fa-dashboard">
                    </i>
                    <span>Dashboard</span>
                </button> 
                <button class="btn mt-3"><i class="fa fa-users" href="/auth/all_hoods"></i><span>Your Hoods</span></button> 
                <button class="btn mt-3"><i class=""></i><span></span></button> 
                <span class="other mt-4">Other Information</span> 
                <button class="btn mt-3"><i class="fa fa-book"></i><span>Amenities</span></button> 
                <button class="btn mt-3"><i class="fa fa-question-circle"></i><span>Other users</span></button> 
            </div> 
        </div> 
    </div> 
     
</div>
</div>

{% endblock %}