{%extends 'base.html'%}

{%block body%}

<div class="container">
    <p class="fs-1">Hoods From DB</p>
        {%for hood in hoods%}
            <div class="card me-3 mb-3 float-start" style="width: 18rem;">
                <img src="" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">Name: {{hood['name']}}</h5>
                    <p class="card-text">About: {{hood['about']}}</p>
                    <hr>
                    <p>Admin: {{hood['user_id']}}</p>
                    <p>Members: {{hood['members']}}</p>
                    <a href="{{url_for('main_blueprint.hoodpage', hood_id = hood.id)}}" class="btn join-btn ">View</a>
                </div>
            </div>
            {%endfor%}
</div>


{%endblock%}
