{%extends 'base.html'%} {%block body%}

<div class="hero-section">
  <div class="hero-text">
    <h1>Nextdoor</h1>
    <p>Search for your Neighborhood,Town or City</p>
  </div>
</div>

<div class="about">
  <div class="about_text">
    <h2>All your neighborhood Questions in one place with Nextdoor</h2>
    <p>
      It's where communities come together to greet newcomers, exchange
      recommendations, and read the latest local news. Where neighbors support
      local businesses and get updates from public agencies. Where neighbors
      borrow tools and sell couches. It's how to get the most out of everything
      nearby. Welcome, neighbor.
    </p>
  </div>

  <div class="app-icons" align="center">
    <span class="material-symbols-outlined"> security_update_good </span>
    <span class="material-symbols-outlined"> edit_location </span>
    <span class="material-symbols-outlined"> cottage </span>
  </div>
  <div class="vector_text" align="center">
    <p>Instantly connect with your neighborhood</p>
    <button>Sign Up</button>
  </div>
</div>
<div class="app_content">
  <div class="app_vect">
    <img src="{{url_for('static', filename='/images/phone.jpg')}}" alt="" />
  </div>
  <div class="app_text">
    <p>The go-to app for ......</p>
    <p>
      Download the free Nextdoor app for expertise you can count on,<br />
      and fit in with confidence.
    </p>

    <div>
      <span  class="material-symbols-outlined"> contact_support </span>
      Support on your journey
    </div>
    <div>
      <span class="material-symbols-outlined"> tips_and_updates </span>Updates
      and reminders
    </div>
  </div>
</div>















{%endblock%}
