{%extends 'base.html'%}

{%block body%}
<div class="container-fluid post">
    <img src="{{url_for('static', filename='images/hoods.png')}}" class="post-img w-100">

    <div class="post-logo">
        <i class="fa fa-circle fs-4" style='color: #fa6b6b;' aria-hidden="true"></i>
        <span class="fs-3">Logo</span>
    </div>

    <div class="post-text fs-1">
        Add a post
    </div>
</div>

<div class="container-fluid post-form">

    <div class="row">
        <div class="col-md-6 ">
            some other text
        </div>

        <div class="col-md-6 pt-5 pe-5 mb-5">
            <div class="form-group form-control">
                <p class="fs-3 text-center p-2 mt-4">Update a Post</p>
                <form enctype=multipart/form-data method="POST" class="p-3">
                    <div class="mb-3">
                        {{form.hidden_tag()}}
                        {% if form.errors %}
                        {{form.errors['username']}}
                        {{form.errors['password']}}
                        {%endif%}
                    </div>

                    <div class="mb-3">
                        {{form.title.label(class='form-label')}}
                        {{form.title(class='form-control')}}
                    </div>

                    <div class="mb-3">
                        {{form.content.label(class='form-label')}}
                        {{form.content(class='form-control')}}
                    </div>
                    <div class="mb-3">
                        {{form.submit(class='btn post-btn rounded mt-3')}}
                    </div>
                </form>
            </div>
        </div>
    </div>

</div> {%endblock%}